* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  color: black;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 0;
  gap: 60px;
}
 .box {
  position: relative;
  width: 300px;
  height: 350px;
  background: rgb(231, 228, 228);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  ?line design*/
 .box::before {
  content: "";
  position: absolute;
  inset: -10px 60px;
  border-top: 4px solid red;
  border-bottom: 4px solid red;
  z-index: -1;
  transform: skewY(15deg);
  transition: 0.5s ease-in-out;
}
 .box:hover::before {
  transform: skewY(0deg);
  inset: -10px 20px;
}
 .box::after {
  content: "";
  position: absolute;
  inset: 60px -10px;
  border-left: 4px solid red;
  border-right: 4px solid red;
  z-index: -1;
  transform: skew(15deg);
  transition: 0.5s ease-in-out;
}
 .box:hover::after {
  transform: skew(0deg);
  inset: 40px -10px;
}
 .box .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
 .box .content .icon {
  width: 80px;
  height: 80px;
  box-shadow: 0 0 0 2px, 0 0 0 2px red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  color: red;
  transition: 0.5s ease-in-out;
}
 .box:hover .content .icon {
  color: red;
  box-shadow: 0 0 0 4px, 0 0 0 300px red;
}
 .box .content .text {
  font-size: 1em;
  color: red;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}
 .box:hover .content .text h3 {
  color: white;
}
 .box .content .text p {
  color: #999;
  transition: 0.5s ease-in-out;
}
 .box:hover .content .text p {
  color: white;
}
